In [5]:
import pandas as pd 
import numpy as np

In [6]:
s = pd.Series() 
print("Pandas Series: ", s) 
data = np.array(['g', 'e', 'e', 'k', 's']) 
  
s = pd.Series(data) 
print("Pandas Series:\n", s)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [8]:
df = pd.read_csv("data.csv")

ages = df[df['age'] > 25]
print(ages)

    name  age     city category  sales  a  b
2   Aman   30     Pune        A    250  7  8
3   Neha   27  Kolkata        C    300  4  6
4  Arjun   35   Jaipur        B    200  1  9